<form action="/bookmarks">
  <button type="submit" value="View bookmarks">View bookmarks</button>
</form>
<form action="/bookmarks/new">
  <button type="submit" value="Add Bookmark">Add Bookmark</button>
</form>
