


<form action="/bookmarks" method="post">
  Add a Bookmark:
  <input type="text" name="url">
  <!-- if you change name here, it affects the :url in the app.rb page. (def self.save) & bookmark_spec -->
  <button type="submit" value="Save">Save</button>
  <!-- <div id='flash' class='notice'>
    <a class="close" data-dismiss="alert">&#215;</a> -->

  <!-- </div> -->

</form>
<%= styled_flash %>
