


<form action="/bookmarks" method="post">
  Add a Bookmark:
  <input type="text" name="url">
  Title:
  <input type="text" name="title">
  <!-- if you change name here, it affects the :url in the app.rb page. (def self.save) & bookmark_spec -->
  <button type="submit" value="Save">Save</button>

</form>
<%= styled_flash %>
